
<div *ngIf="pedido" class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Detalle Pedidos</h3>
               <h4 class="card-subtitle">El pedido del policia <code>{{pedido.policia.nombre}}</code> con el cargo <code>{{pedido.policia.jerarquia}} </code></h4>
               <form>
                <div class="form-group row">
                  <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
                  <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext"  [(ngModel)]="pedido.policia.nombre" name="nombre">
                  </div>
                </div>
                <div class="form-group row">
                    <label for="total" class="col-sm-2 col-form-label">Total $</label>
                    <div class="col-sm-10">
                      <input type="text" readonly class="form-control-plaintext"  [(ngModel)]="pedido.total"  name="total">
                    </div>
                  </div>

              </form>
               <div class="table-responsive">
                    <table class="table color-table inverse-table">
                        <thead>
                            <th>Producto</th>
                            <th>Estado                     
                            </th>
                            <th>Talle</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                            <th></th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of pedido.productos">
                                <td>{{p.nombre}}</td>
                                <td> <select [(ngModel)]="p.estado._id" >
                                    <option value="">Seleccionar</option>
                                    <option *ngFor="let e of _estadoServicio.estadoPedidos()" [value]="e._id">{{e.nombre}}</option>
                                </select></td>
                                <td>{{p.talle}}</td>
                                <td>{{p.cantidad}}</td>
                                <td><strong>$</strong>{{p.preciocantidad}}</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>  