<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"></h3>
                <table class="table table-hover">
                    <thead>
                        <th>Nombre</th>
                        <th>Producto</th>
                        <th>Fecha entrega</th>
                        <th>Cantidad</th>
                        <th>Pagado</th>
                        <th>Fecha devolucion</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let e of encargues">
                            <td>{{e.empleado?.nombre}}</td>
                            <td>{{e.categoria?.nombre}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>  
