<h4>Busqueda</h4>
<!-- INPUT GROUP CREAR-->
<div class="row">
    <div class="col-md-12">
        <div class="float-md-right">
        <button class="btn btn-info" (click)="irAcrear()">
            <i class="fa fa-plus"></i>
            Crear</button>
       </div>
    </div> 
</div>
<br>
<!-- INPUT GROUP BUSQUEDA-->
<div class="row">


    <div class="col-lg-4">
      <div class="input-group">
        <label for="nombre" class="control-label">Nombre: </label>
  
        <input #nombre (keyup)="buscar(nombre.value,nombre.name)" type="text" id="nombre" class="form-control" name="nombre" />
      </div>
    </div>
    <div class="col-lg-4">
      <div class="input-group">
        <label for="telefono" class="control-label">Teléfono: </label>
  
        <input #telefono (keyup)="buscar(telefono.value,telefono.name)" type="text" id="telefono" class="form-control" name="telefono" />
      </div>
    </div>
    <div class="col-lg-4">
      <div class="input-group">
        <label for="jerarquia" class="control-label">Jerarquía: </label>
  
        <input #jerarquia (keyup)="buscar(jerarquia.value,jerarquia.name)" type="text" id="jerarquia" class="form-control" name="jerarquia" />
      </div>
    </div>


</div>

<br>
<!-- END INPUT GROUP -->

<!-- TABLA-->
<div *ngIf="policias.length>0" class="row">
  <div class="col-lg-12">
    <div class="table-responsive">
      <table class="table color-table primary-table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Jerarquía</th>
            <th>Actualizar</th>
            <th>ver</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody *ngFor="let p of policias">
          <tr>
            <td>{{p.nombre}}</td>
            <td>{{p.telefono}}</td>
            <td>{{p.jerarquia}}</td>
            <td><button [routerLink]="['/modificar', p._id]" class="btn btn-dark"><i class="fa fa-edit"></i> modificar</button></td>
            <td><button [routerLink]="['/ver', p._id]"  class="btn btn-dark"><i class="fa fa-search"></i> ver</button></td>
            <td><button (click)="eliminar(p._id)" class="btn btn-danger"> <i class="fa fa-remove"></i> eliminar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
