<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">

        <h3 class="box-title m-t-40">Persona</h3>
        <form ngNativeValidate [formGroup]="form" class="form-horizontal">

          <div class="form-group row">
            <label
              for="nombre"
              class="col-sm-3 text-right control-label col-form-label"
              >Nombre y Apellido <span style="color: red;">*</span></label
            >
            <div class="col-sm-9">
              <input
                formControlName="nombre"
                type="text"
                class="form-control"
                id="nombre"
                placeholder="nombre"
                required
              />
              <div
                *ngIf="
                  getNombre().invalid &&
                  (getNombre().dirty || getNombre().touched)"
                class="alert alert-danger">
                <div *ngIf="getNombre().errors.required">
                  El nombre es requerido
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label
              for="telefono"
              class="col-sm-3 text-right control-label col-form-label"
              >Teléfono <span style="color: red;">*</span></label
            >
            <div class="col-sm-9">
              <input
                formControlName="telefono"
                type="tel"
                class="form-control"
                id="telefono"
                placeholder="teléfono"
              />
              <div
              *ngIf="
              getTelefono().invalid &&
                (getTelefono().dirty || getTelefono().touched)"
              class="alert alert-danger">
              <div *ngIf="getTelefono().errors.required">
                El teléfono es requerido
              </div>
            </div>
            </div>
          </div>
          <div class="form-group row">
            <label
              for="direccion"
              class="col-sm-3 text-right control-label col-form-label"
              >Direccion</label
            >
            <div class="col-sm-9">
              <input
                formControlName="direccion"
                type="text"
                class="form-control"
                id="direccion"
                placeholder="direccion"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
