<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Buscar Pedidos</h3>
                <div class="form-body">
                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Nombre cliente:</label>
                                <input #nombre (keyup)="cambiandoBusqueda(nombre.value,'nombre')" type="text" name="nombre" class="form-control" placeholder="nombre">
                               </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Producto</label>
                                <select  (change)="cambiandoBusqueda($event.target.value,'producto')" class="form-control custom-select">
                                    <option value="">Seleccionar</option>
                                    <option *ngFor="let c of categorias" [value]="c._id">{{c.nombre}}</option>
                                </select>
                                </div>
                        </div>
                    </div>
                    <!--/row-->
                    <div class="row">
               
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Fecha de pedido</label>
                                <input name="fecha" type="date" class="form-control" [(ngModel)]="fecha" placeholder="dd/mm/yyyy">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Estado</label>
  
                                <select (change)="cambiandoBusqueda($event.target.value,'estado')"class="form-control custom-select">
                                    <option value="">Seleccionar</option>
                                    <option *ngFor="let t of estados" [value]="t._id">{{t.nombre}}</option>
                                </select>
                                </div>
                        </div>
                        <!--/span-->
                    </div>


                </div>
                <div class="form-actions">
                    <div class="float-right">
                        <button type="button" (click)="buscando()" class="btn btn-success"> <i class="fa fa-search"></i> Buscar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>  
<div *ngIf="pedidos?.length>0" class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Pedidos registrados ( <small>{{ totalRegistros }}</small> )</h3>
                <table class="table color-table muted-table">
                    <thead>
                        <th>Policia</th>
                        <th>Fecha</th>
                        <th>Fecha probable entrega</th>
                        <th>Fecha entrega</th>
                        <th>Estado</th>
                        <th>Detalle</th>
                        <th>Modificar</th>

                    </thead>
                    <tbody>
                        <tr *ngFor="let p of pedidos">
                            <td>{{p.policia?.nombre}} </td>
                            <td>{{p.fechaPedido | date:'dd/MM/yyyy'}}</td>
                            <td>{{p.fechaProbableEntrega | date:'dd/MM/yyyy'}}</td>
                            <td>{{p.fechaRealEntrega | date:'dd/MM/yyyy'}}</td>
                            <td>
                                <div class="label label-table" [ngClass]="_estadoService.getEstado(p.estado).color">{{_estadoService.getEstado(p.estado).nombre}}</div>
                            </td>
                            <td><button (click)="seleccionarPedido(p)" type="button" class="btn btn-dark"> Detalle</button></td>
                            <td><button  [routerLink]="['/modificar-pedido', p._id]"  type="button" class="btn btn-warning"> Modificar</button></td>
                          
                        </tr>
                    </tbody>
                </table>
                <button (click)="cambiarDesde(-5)" class="btn btn-secondary">
                    Anteriores
                  </button>
  
                  <button (click)="cambiarDesde(5)" class="btn btn-secondary">
                      Siguientes
                  </button>

            </div>
        </div>
    </div>
</div> 

<app-detalle-pedido [totalcobrar]="totalacobrar" [pedido]="pedidoSeleccionado" ></app-detalle-pedido>  