
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
               <app-agregar-cliente (persona)="cargarPersona($event)"></app-agregar-cliente>
               


            </div>
        </div>
    </div>
</div> 
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
               <app-agregar-producto (productos)="cargarProductos($event)"></app-agregar-producto>
            </div>
        </div>
    </div>
</div> 
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="form">
                    <div class="col-6 form-group" [ngClass]="form.invalid?_errorService.error:''">
                        <label class="control-label">Fecha probable de entrega</label>
                        <input formControlName="fechape" type="date" id="lastName" class="form-control" placeholder="12n">
                        <small *ngIf="form.invalid && getFecha().errors" class="form-control-feedback" style="color:red"> Ingrese la fecha probable de entrega </small> </div>
                </form>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="float-right">
            <button type="button" routerLink="/dashboard" class="btn btn-dark waves-effect waves-light m-r-10">Volver</button>
        </div>
        <div class="float-right">
            <button type="button"(click)="registrar()" class="btn btn-success waves-effect waves-light m-r-10">Registrar</button>
        </div>
    </div>
</div>